{% extends 'base.html' %}

{% block content %}

  <main class="container mt-3">
    <div class="card my-4 mx-auto">
      <div class="card-body m-2 m-md-4">
        <div class="row">
          <div class="col-5"><img src="{{ teacher.picture }}" class="img-fluid" alt="Photo of a teacher"></div>
          <div class="col-7">
            <h1 class="h2">{{ teacher.name }}</h1>
            <p>
              {% for goal in teacher.goals %}
                {# select goal by attribute, convert to list and taking last (it's supposed to be unique #}
                <span class="badge badge-secondary mr-2">{{ (goals|selectattr('goal_key', '==', goal.goal_key)|list|last).rus_name }} </span>
              {% endfor %}
              Рейтинг: {{ teacher.rating }} Ставка: {{ teacher.price }} / час
            </p>
            <p>{{ teacher.about }}
            <br> <br>

          </div>
        </div>
      </div>
      <div class="card-body m-2 m-md-4">
        <h2 class="h5 mb-4">Записаться на пробный урок</h2>
        <table class="table">
          <tr>
            <th><span class="btn font-weight-bold py-0">#</span></th>
            <th>Пн</th>
            <th>Вт</th>
            <th>Ср</th>
            <th>Чт</th>
            <th>Пт</th>
            <th>Сб</th>
            <th>Вс</th>
          </tr>
          {% for time_of_day, schedule in time_table.items() %}
            <tr>
              <td><span class="btn">{{ time_of_day }}</span></td>
              {% for weekday_key, status in schedule.items() %}
                {% if weekday_key in ['mon', 'tue', 'wed', 'thu', 'fri'] %}
                  {% if status is true %}
                    {% set btn_status = "btn btn-sm btn-success" %}
                    {% set booking_link = "/booking/{}/{}/{}".format(teacher.id, weekday_key, time_of_day) %}
                  {% else %}
                    {% set btn_status = "btn btn-sm btn-secondary" %}
                    {% set booking_link = "/profiles/{}/".format(teacher.id) %}
                  {% endif %}

                  <td><a href="{{ booking_link }}" class="{{ btn_status }}">{{ time_of_day }} </a></td>
                {% endif %}
              {% endfor %}
              <td>-</td>
              <td>-</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </main>

{% endblock %}