{% extends 'base.html' %}

{% block content %}

  <main class="container mt-5">
    <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
      <form action="/request_done/" method = "post" class="card mb-5">
        <div class="card-body text-center pt-5">
          <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
          <p class="px-5">Напишите, чего вам нужно и&nbsp;мы&nbsp;подберем отличных&nbsp;ребят</p>
        </div>
        <hr>
        <div class="card-body mx-3">
          <div class="row">
            <div class="col">
              <p>Какая цель занятий?</p>
              {% for goal, goal_details in goals.items() %}
                {% if goal == "travel" %}
                  {% set is_checked = "checked" %}
                {% else %}
                  {% set is_checked = "" %}
                {% endif %}
                <div class="form-check" >
                    <input type="radio" class="form-check-input" name="goal" value="{{ goal }}" id={{ goal }} {{ is_checked }}>
                    <label class="form-check-label" for={{ goal }}>
                      {{ goal_details['rus_name'] }}
                    </label>
                </div>
              {% endfor %}
            </div>
            <div class="col">
              <p>Сколько времени есть?</p>
              {% for available_time_key, available_time_details in available_time.items() %}
                {% if available_time_key == "1-2" %}
                  {% set is_checked = "checked" %}
                {% else %}
                  {% set is_checked = "" %}
                {% endif %}
                <div class="form-check">
                  <input type="radio" class="form-check-input" name="time" value={{ available_time_key }}
                         id={{ available_time_key }} {{ is_checked }}>
                  <label class="form-check-label" for={{ available_time_key }}>
                    {{ available_time_details['rus_name'] }}
                  </label>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <hr>
        <div class="card-body mx-3">
          <label class="mb-1 mt-2">Вас зовут</label>
          <input class="form-control" type="text" name="clientName" id="clientName" placeholder="">

          <label class="mb-1 mt-2">Ваш телефон</label>
          <input class="form-control"  type="tel" name="clientPhone" id="clientPhone" placeholder="">

          <input type="submit" class="btn btn-primary mt-4 mb-2" value="Найдите мне преподавателя">
        </div>
      </form>
    </div>
  </main>

{% endblock %}