{% extends 'base.html' %}

{% block content %}

  <main class="container mt-5">
    <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
      <form action={{ 'request' }} method = "post" class="card mb-5">
        {{ form.csrf_token }}
        <div class="card-body text-center pt-5">
          <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
          <p class="px-5">Напишите, чего вам нужно и&nbsp;мы&nbsp;подберем отличных&nbsp;ребят</p>
        </div>
        <hr>
        <div class="card-body mx-3">

          <div class="row">
            <div class="col">
              <p>{{ form.goal_key.label }}</p>
              {#<div> {{ form.goal_key(class="form-check") }} </div>#}
              <div>
              {% for subfield in form.goal_key %}
                  <div>
                      {{ subfield }}
                      {{ subfield.label }}
                  </div>
              {% endfor %}
              </div>
            </div>
            <div class="col">
              <p>{{ form.time_key.label }}</p>
              {% for subfield in form.time_key %}
                  <div>
                      {{ subfield }}
                      {{ subfield.label }}
                  </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <hr>
        <div class="card-body mx-3">
          <div> {{ form.client_name.label(class="mb-1 mt-2") }} {{ form.client_name(class="form-control") }} </div>
          <div> {{ form.client_phone.label(class="mb-1 mt-2") }} {{ form.client_phone(class="form-control") }} </div>

          <input type="submit" class="btn btn-primary mt-4 mb-2" value="Найдите мне преподавателя">
        </div>
      </form>
    </div>
  </main>

{% endblock %}